.search-bar input {
  margin-bottom: 0;
}

.search-bar ul {
  padding: 0;
}

.search-bar ul li {
  list-style: none;
  padding: 15px 10px;
  margin: 0;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  cursor: pointer;
}

.search-bar ul li:hover {
  background: cornflowerblue;
}